@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

/*class content*/
.content {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

/*section page-front*/
.page-front {
    background-color: #031924;
    height: 100vh;
}


/* header*/
header {
    padding: 30px 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-links {
    display: flex;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
}

/* --- header --- */

/* class data */
.data {
    margin: 150px 400px;
    display: flex;
    justify-content: space-between;
}

.personal-data {
    width: 70%;
}

.personal-name {
    color: #1E77E2;
    font-size: 36px;
    font-weight: bold;
}

.personal-title {
    /* width: 90%; */
    color: white;
    font-size: 45px;
    line-height: normal;
}

.personal-description {
    padding-top: 10px;
    color: white;
    font-size: 26px;
}

.personal-fullname {
    color: #0D90D1;
    padding-top: 10px;
    font-size: 20px;
}

.social-links {
    padding: 10px 0;
}

.social-links .socials {
    padding-left: 15px;
}

.button-actions {
    width: 47%;
    display: flex;
    justify-content: space-between;
}

.btn-download  {
    width: 160px;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #1E77E2;
    background: white;


}

.btn-touch {
    width: 100px;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #1E77E2;
    background: white;
}

.personal-image img{
    width: 330px;
    border-radius: 50%;
}


/* --- class data --- */



/* ---------------------------- */


/* Section About */
.page-about {
    background-color: #F2F2F2;
    height: 100vh;
    padding: 50px 150px;
}

.about-header {
    text-align: center;
    padding-bottom: 15px;
    color: #1E77E2;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid #1E77E2;
}

.about-data {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.pic {
    padding-top: 0px;
}


.pic img {
    margin-right: 70px;
}
.pic img:hover {
    cursor: pointer;
    -webkit-transform:rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.track-title {
    color: #1E77E2;
    font-size: 20px;
    font-weight: bold;
}

ul {
    padding: 0;
}

.myList {
    display: flex;
    list-style: none;
    align-items: center;
}

.myList img {
    height: 30px;
}

.myList p {
    padding-left: 10px;
}

.about-description {
    padding-top: 30px;
    width: 700px;
    margin:0 auto;
    text-align: center;
}

.about-build {
    color: #1E77E2;
    font-size: 18px;
    font-weight: bold;
}

.about-got {
    padding-top: 30px;
    line-height: 1.5;
    font-size: 18px;
}
