@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

/*class content*/
.content {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

/*section page-front*/
.page-front {
    background-color: #031924;
    height: 100vh;
}


/* header*/
header {
    padding: 30px 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-links {
    display: flex;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    list-style: none;
    margin-left: 50px;
    font-size: 20px;
}

/* --- header --- */

/* class data */
.data {
    margin: 150px 400px;
    display: flex;
    justify-content: space-between;
}

.personal-data {
    width: 70%;
}

.personal-name {
    color: #1E77E2;
    font-size: 36px;
    font-weight: bold;
}

.personal-title {
    /* width: 90%; */
    color: white;
    font-size: 45px;
    line-height: normal;
}

.personal-description {
    padding-top: 10px;
    color: white;
    font-size: 26px;
}

.personal-fullname {
    color: #0D90D1;
    padding-top: 10px;
    font-size: 20px;
}

.social-links {
    padding: 10px 0;
}

.social-links .socials {
    padding-left: 15px;
}

.button-actions {
    width: 47%;
    display: flex;
    justify-content: space-between;
}

.btn-download  {
    width: 160px;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #1E77E2;
    background: white;


}

.btn-touch {
    width: 100px;
    padding: 15px 20px;
    border-radius: 30px;
    margin-top: 10px;
    display: block;
    text-decoration: none;
    color: #1E77E2;
    background: white;
}

.personal-image img{
    width: 330px;
    border-radius: 50%;
}


/* --- class data --- */



/* ---------------------------- */


/* Section About */
.page-about {
    background-color: #F2F2F2;
    height: 100vh;
    padding: 50px 150px;
}

.about-header {
    text-align: center;
    padding-bottom: 15px;
    color: #1E77E2;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid #1E77E2;
}

.about-data {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.pic {
    padding-top: 0px;
}


.pic img {
    margin-right: 70px;
}
.pic img:hover {
    cursor: pointer;
    -webkit-transform:rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.track-title {
    color: #1E77E2;
    font-size: 20px;
    font-weight: bold;
}

ul {
    padding: 0;
}

.myList {
    display: flex;
    list-style: none;
    align-items: center;
}

.myList img {
    height: 30px;
}

.myList p {
    padding-left: 10px;
}

.about-description {
    padding-top: 30px;
    width: 700px;
    margin:0 auto;
    text-align: center;
}

.about-build {
    color: #1E77E2;
    font-size: 18px;
    font-weight: bold;
}

.about-got {
    padding-top: 30px;
    line-height: 1.5;
    font-size: 18px;
}


/* ---------------------------- */


/* Section page-experience */


.page-experience {
    background-color: #FbFbFb;
    height: 100vh;
    padding: 50px 150px;
}

.experience-header {
    text-align: center;
    padding-bottom: 15px;
    color: #1E77E2;
    font-size: 30px;
    font-weight: bold;
}

.experience-title {
    padding: 3px 0;
    margin: 0;
    text-align: center;
    border-bottom: 3px solid #1E77E2;
}

.expo-data {
    margin: 0 auto;
    padding-top: 30px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.expo {
    width: 40%;
}

.expo .expo-title {
    color: #1E77E2;
    font-size: 20px;
    font-weight: bold;
}

.expo .expo-subtitle {
    color: #0D90D1;
    font-size: 16px;
    text-align: justify;
}

.expo .expo-description ul li {
    list-style: none;
}

/* ---------------------------- */


/* Section page-works */

.page-works {
    background-color: #F2F2F2;
    height: 100vh;
    padding: 50px 150px;
}

.works-header {
    text-align: center;
    padding-bottom: 15px;
    color: #1E77E2;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid #1E77E2;
}

.works-data {
    margin: 0 auto;
    width: 1200px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.works {
    width: 250px;
    cursor: pointer;
    margin-right: 50px;
}

.works .work-title {
    padding: 0;
    margin: 10px 0;
    text-align: center;
}

.work-avatar {
    width: 250px;
    height: 250px;
    border-radius: 15px;
}

/* ---------------------------- */


/* Section education */

.page-education {
    background-color: #fbfbfb;
    height: 100vh;
    padding: 50px 150px;
}

.education-header {
    text-align: center;
    padding-bottom: 15px;
    color: #1E77E2;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid #1E77E2;
}

.education-data {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.education {
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
}


.education .education-title {
    color: #1E77E2;
    font-size: 20px;
    font-weight: bold;
}

.education .education-certificate {
    color: #1E77E2;
    font-size: 18px;
    font-weight: bold;
}

.education .education-institute{
    color: #0D90D1;
    font-size: 16px;
}

.education .education-year {
    font-weight: bold;
}


/* ---------------------------- */


/* Section article */

.page-article {
    padding: 50px 150px;
    height: 100vh;
    background-color: #F2F2F2;
}

.article-header {
    text-align: center;
    padding-bottom: 15px;
    color: #1E77E2;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid #1E77E2;
}

.article-data {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.article {
    width: 300px;
    height: 180px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-right: 20px;
}

.article .article-title {
    color: #1E77E2;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    margin-bottom: 20px; 
}

.article .article-description {
    height: 90px;
    /* border: 1px solid green; */
}

.article-year {
    color: #0D90D1;
    margin-top: 10px;
    text-align: right;
}

/* ---------------------------- */


/* Section contact */

.page-contact {
    background-color: #031924;
    height: 100vh;
    padding: 50px 150px 0px 150px;
}

.contact-header {
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 4px solid #fff;
}

.contact-data {
    margin: 150px auto;
    max-width: 1300px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.identity-card {
    width: 400px;
    height: 400px;
}

.full-name {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
}

.identity-data {
    color: white;
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.identity-data p {
    margin-left: 10px;
}

.social-ico {    
    margin-left: 25px;
}

.contact-form {
    padding: 20px;
    width: 600px;
}

.contact-form .text-input {
    padding: 5px 10px;
    margin: 5px 0;
    width: 99%;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
}

.contact-form .textarea-input {
    padding: 5px 10px;
    margin: 5px 0;
    width: 99%;
    font-size: 16px;
    height: 120px;
    border-radius: 5px;
}

.contact-form .submit-btn {
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .go-home {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.go-home img {
    margin-left: 5px;
}

.go-home a {
    text-decoration: none;
    color: #fff;
}

/* Media queries */

/* large screens and desktops combined to small screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    /*class content*/
    .content {
        width: 100%;
        margin: 0 auto;
    }

    /*section page-front*/
    .page-front {
        width: 100%;
    }

    /* header*/
    header {
        padding: 30px 50px;
    }

    .nav-links li {
        margin-left: 30px;
    }

    /* --- header --- */

    /* class data */
    .data {
        margin: 150px 70px;
        display: flex;
        justify-content: space-between;
    }

    .personal-name {
        font-size: 30px;
    }

    .personal-title {
        font-size: 34px;
    }

    .personal-description {
        font-size: 20px;
    }

    .button-actions {
        width: 65%;
        display: flex;
        justify-content: space-between;
    }

    .personal-image img{
        width: 300px;
    }

    /* Section About */
    .page-about {
        padding: 50px 70px;
    }

    .pic img {
        width: 350px;
    }
    

    .myList {
        display: flex;
        list-style: none;
        align-items: center;
    }

    .myList img {
        height: 30px;
    }

    .myList p {
        padding-left: 10px;
    }

    .about-description {
        width: 600px;
    }

    /* Section page-experience */


    .page-experience {
        padding: 50px 70px;
    }

    .expo-data {
        width: 900px;
    }

    .expo {
        width: 45%;
    }

    /* Section page-works */

    .page-works {
        padding: 50px 70px;
    }

    

    .works-data {
        width: 900px;
    }

    .works {
        width: 200px;
        margin-right: 20px;
    }

    .work-avatar {
        width: 200px;
        height: 200px;
    }

    /* Section article */

    .page-article {
        padding: 50px 70px;
    }

    
    .article-data {
        margin: 30px auto;
        justify-content: space-between;
    }

    .article {
        width: 200px;
        height: 180px;
        margin-top: 20px;
        margin-right: 20px;
    }

    .article .article-title {
        font-size: 18px;
        margin-bottom: 10px; 
    }

    .article-year {
        margin-top: 15px;
    }


}

/* Tablets to small screens */
@media screen and (min-width: 481px) and (max-width: 768px) {
    /*class content*/
    .content {
        width: 100%;
        margin: 0 auto;
    }

    /*section page-front*/
    .page-front {
        width: 100%;
    }

    /* header*/
    header {
        padding: 30px 30px;
    }

    .nav-links li {
        margin-left: 20px;
        font-size: 16px;
    }

    /* --- header --- */

    /* class data */
    .data {
        margin: 150px 45px;
        display: flex;
        justify-content: space-between;
    }

    .personal-name {
        font-size: 27px;
    }

    .personal-title {
        font-size: 30px;
    }

    .personal-description {
        font-size: 16px;
    }

    .button-actions {
        width: 80%;
        font-size: 14px;
    }

    .btn-download  {
        width: 140px;
        padding: 10px;
    }
    
    .btn-touch {
        width: 90px;
        padding: 10px;
    }

    .personal-image img{
        width: 250px;
    }

    /* Section About */
    .page-about {
        padding: 50px 50px;
    }

    .pic img {
        width: 270px;
        margin-right: 50px;
    }

    .myList p {
        padding-left: 5px;
    }

    .about-description {
        width: 500px;
    }

    /* Section page-experience */


    .page-experience {
        padding: 50px 50px;
    }

    .expo-data {
        width: 650px;
    }

    .expo {
        width: 45%;
    }

    /* Section page-works */

    .page-works {
        padding: 50px 50px;
    }

    

    .works-data {
        width: 700px;
    }

    .works {
        width: 180px;
        margin-right: 20px;
    }

    .work-avatar {
        width: 180px;
        height: 180px;
    }

    /* Section article */

    .page-article {
        padding: 50px 50px;
    }

    
    .article-data {
        margin: 30px auto;
        justify-content: space-between;
    }

    .article {
        width: 200px;
        height: 180px;
        margin-top: 20px;
        margin-right: 20px;
    }

    .article .article-description {
        font-size: 16px;
    }

    .article-year {
        margin-top: 15px;
    }

    /* Contact */

    .page-contact {
        padding: 50px 50px 0px 50px;
    }
    
    
    
    .contact-data {
        margin: 50px auto 150px auto;
        max-width: 1300px;
    }
    
    .identity-card {
        width: 350px;
        height: 350px;
    }
    
    .full-name {
        font-size: 18px;
    }
    
    /* .identity-data p {
        margin-left: 10px;
    } */
    
    .social-ico {    
        margin-left: 10px;
    }
    
    .contact-form {
        width: 500px;
    }
    
    .contact-form .text-input {
        padding: 5px 8px;
    }
    
    .contact-form .textarea-input {
        padding: 5px 8px;
    }
    
    .contact-form .submit-btn {
        padding: 10px 15px;
    }


}


/* ipads and tablets combined to mobile devices*/
@media screen and (min-width: 320px) and (max-width: 480) {
    
}

